
        :root {
            accent-color: yellow;
        }
        body {
            --face-size: 200px;
            font: sans-serif;
            overflow-x: hidden;
            user-select: none;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
        }

        .appSettings {
          font-size: 30px;
          color: blue;
        }

        .headlines{
            font-size: 30px;
        }

        .slider{
            display: flex;
            flex-wrap: wrap;
        }
        .kindergartenName{
            /* display: inline-block; */
            background-color: yellow;
            border-radius: 0.5rem;
            padding: 0 0.3rem;
            /* border-spacing: 5rem; */
            width: fit-content;
        }

        #kids-container {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            /* height: 900vh; */
            gap:  1rem;
        }

        .kid-card-BG {
            position: relative;
            display: flex;
            background-size: cover;
            background-position: center;
            background-color: yellow;
            min-width: 50px;
            min-height: 50px;
            width: var(--face-size);
            height: var(--face-size);
            max-width: 40vw;
            max-height: 40vw;
            border-radius: 50%;
            overflow: hidden;
            transition: box-shadow 0.3s ease-in-out;
        }

        .kid-card-BG_checked {
            box-shadow: 0 0 0 500px rgba(13, 255, 0, 0.5) inset;
        }

        .name-contain {
            align-self: center;
            position: relative;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            /* padding: calc(var(--face-size) / 10); */
            background-color: transparent !important;
        }

        .name-in-frame {
            color: white;

            text-align: center;
            font-size: clamp(10px, 2em, 90%);
            font-weight: 300;
            text-shadow:rgba(0, 0, 0, 0.3) 0 0 0.4rem;
        }