@import "form.css";

:root {
  accent-color: DarkSlateBlue;
}

body {
  --face-size: 100px;
  font: sans-serif;
  overflow-x: hidden;
  user-select: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.appSettings {
  font-size: 30px;
  line-height: 1em;
  color: DarkSlateBlue;
}

.headlines {
  font-size: 20px;
  line-height: 1em;
}

.headlines p {
  margin: 0;}

 /*{
  text-indent: 0;
  display: inline;
}*/

.slider {
  display: flex;
  flex-wrap: wrap;
}

.kindergartenName {
  /* display: inline-block; */
  color: white;
  background-color: SlateBlue;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  /* border-spacing: 5rem; */
  width: fit-content;
white-space:nowrap;
}

#kids-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
  justify-content: space-evenly;
  gap: 1rem;
  flex: 1;
}

.kid-card-BG {
  /* position: relative;
            display: flex;
            flex-direction: column; */
  /* align-content: space-around; */
  justify-content: center;
  /* box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.2) inset; */
  /* backdrop-filter: brightness(0.5); */
  /* padding: 10%; */
  display: inline-flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  max-width: 90vw;
  max-height: 90vw;
  border-radius: 5%;
  padding: 0.5%;
  overflow: hidden;
  background-color: hsla(16, 100%, 40%, 0.7);
  /* transition: box-shadow 0.3s ease-in-out; */
  transition: background-color 0.3s ease-in-out;
}

.kid-card-BG_checked {
  background-color: hsla(117, 100%, 40%, 0.7);
  /* box-shadow: 0 0 0 500px hsla(117, 100%, 50%, 0.5) inset; */
}

.kid-image {
  border-radius: 5% 5% 0 0;
  min-width: 100%;
  width: var(--face-size);
  /* max-width: 90vw; */
  height: var(--face-size);
  background-size: cover;
  background-position: center;
  /* background-color: Coral; */
}

.name-contain {
  align-self: center;
  position: relative;
  display: inline;
  overflow: hidden;
  /* padding: 10%; */
  width: 100%;
  /* padding: calc(var(--face-size) / 10); */
  background-color: transparent !important;
  border-radius: 0 0 5% 5%;
}

.name-in-frame {
  margin-top: 1%;
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-size: clamp(5px, 50%, var(--face-size)*0.2);
  font-weight: 300;
  /* text-shadow:rgba(0, 0, 0, 0.3) 0 0 0.4rem; */
}